@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: Acrom_light;
  src: url("./fonts/Acrom-Light.woff") format("woff");
}
@font-face {
  font-family: Acrom_light;
  src: url("./fonts/Acrom-Light.ttf") format("ttf");
}
@font-face {
  font-family: Acrom_light;
  src: url("./fonts/Acrom-Light.eot") format("eot");
}
@font-face {
  font-family: Acrom_light;
  src: url("./fonts/Acrom-Light.woff2") format("woff2");
}
@font-face {
  font-family: Acrom_Regular;
  src: url("./fonts/Acrom-Regular.woff") format("woff");
}
@font-face {
  font-family: Acrom_Regular;
  src: url("./fonts/Acrom-Regular.ttf") format("ttf");
}
@font-face {
  font-family: Acrom_Regular;
  src: url("./fonts/Acrom-Regular.eot") format("eot");
}
@font-face {
  font-family: Acrom_Regular;
  src: url("./fonts/Acrom-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Acrom_Bold;
  src: url("./fonts/Acrom-Bold.woff") format("woff");
}
@font-face {
  font-family: Acrom_Bold;
  src: url("./fonts/Acrom-Bold.ttf") format("ttf");
}
@font-face {
  font-family: Acrom_Bold;
  src: url("./fonts/Acrom-Bold.eot") format("eot");
}
@font-face {
  font-family: Acrom_Bold;
  src: url("./fonts/Acrom-Bold.woff2") format("woff2");
}


body {
}

.leaflet-container{
  height: 200px;
  z-index: 0;
}

input:invalid[focused="true"]{
  border: 1px solid red;
}

input:valid{
  border: 2px solid green;
}

input:invalid[focused="true"] ~ span{
  display: block;
}

.error{
  color: red;
  display: none;
}

@keyframes Question {
  0% {
    right: 0;
  }
  100% {
    right: 100px;
  }
}
@keyframes Answer {
  0% {
    left: 0;
  }
  100% {
    left: 100px;
  }
}
@keyframes Hr {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@keyframes OpacityItem {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 10;
  }
  100% {
    opacity: 100;
  }
}

.animateQuestion{
  animation: Question 1s ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.animateAnswer{
  animation: Answer 1s ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.animateHr{
  animation: Hr 1s ease;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.animateOpacityItem{
  animation: OpacityItem 1s ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

